<!DOCTYPE html>

<html lang='en'>

  <head>
      <meta charset='utf-8'>
      <meta name='viewport' content='initial-scale=1, width=device-width'> 
      
  
      <!-- Boostrap CSS -->
      <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' 
      rel='stylesheet' nonce='{{ nonce }}' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' 
      crossorigin='anonymous'>

      <!-- Boostratp JS -->
      <script nonce='{{ nonce }}'
        src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' 
        integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' 
        crossorigin='anonymous'>
      </script>

      <!-- Customized JS -->
               
      <!-- Bootstrap + Customized CSS -->
      <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" nonce="{{ nonce }}">

      <!-- Favicon -->
      <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon_wine.png') }}">
       
      <!-- Document title -->
      <title>
          SavorScript: {% block title %}{% endblock %}
      </title>

  </head>

  <!-- Document body -->
  <body class="d-flex flex-column vh-100">


    <!-- Navbar -->
    <nav id='navbarCustomization' class='navbar navbar-expand navbar-light bg-light'>
      <div class='container-fluid'>
        <!-- Row for Logo and Left-Aligned Items (visible if user is logged in) -->
        <div class="row align-items-center">
          <div class="col-md-auto">
              <a class='navbar-brand' href='{{ url_for("index") }}'>
                  <img src="{{ url_for('static', filename='favicon_wine.png') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                  SavorScript
              </a>
          </div>
          {% if session["user_id"] %}
          <div class="col-md-12">
              <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
                  <li class='nav-item'>
                      <a class='nav-link active' aria-current='page' href='{{ url_for("index") }}'>Home</a>
                  </li>
                  <li class='nav-item'>
                      <a class='nav-link' href='#'>Link</a>
                  </li>
                  <li class='nav-item'>
                      <a class='nav-link disabled' href='#' tabindex='-1' aria-disabled='true'>Disabled</a>
                  </li>
              </ul>
          </div>
          {% endif %}
        </div>

        <!-- Row for Right-Aligned Items (visible if user is logged in) -->
        <div class="row align-items-stretch" style="height: 100% !important;">
          <div class="col-md-auto ms-auto">
              <ul class='navbar-nav w-100'>
                  {% if session["user_id"] %}
                  <li class='nav-item dropdown'>
                      <a class='nav-link dropdown-toggle' id='navbarDropdown' role='button' data-bs-toggle='dropdown' aria-expanded='false'>
                          <span style='font-weight: bold;'>{{ session['username'] }}</span>
                      </a>
                      <ul class='dropdown-menu' aria-labelledby='navbarDropdown'>
                          <li><a class='dropdown-item' href='{{ url_for("profile") }}'>Profile</a></li>
                          <li><a class='dropdown-item' href='{{ url_for("logout") }}'>Log out</a></li>
                      </ul>
                  </li>
                  {% else %}
                  <li class='nav-item'>
                      <a class='nav-link' href='{{ url_for("login") }}'>Log in / Register</a>
                  </li>
                  {% endif %}
              </ul>
          </div>
        </div>        
      </div>
    </nav>
  
    <!-- /Navbar -->

      
    <!-- Flashed message -->
      {% if get_flashed_messages(with_categories=True) %}
        <header>
          <div class='alert alert-primary mb-0 text-center' role='alert'>
            {{ get_flashed_messages() | join(' ') }}
          </div>
        </header>
      {% endif %}
    <!-- /Flashed message -->


    <!-- Main container for body -->
    <!-- THROWAWAY CODE: CHANGE BACKGROUND COLOR PRIOR TO PROD -->
    <main class='container-fluid text-center flex-grow-1 p-3' style='background-color: grey;'>
      {% block main %}{% endblock %}
    </main>
    <!-- /Main container for body -->


    <!-- Footer -->
    <footer id='footerContainer' class='small text-center text-muted'>
        Developed by <a href='https://mattmcdonnell.net/'>Matthew McDonnell, CFA</a>
    </footer>
    <!-- /Footer -->

    <!-- External JavaScript file -->
    <script src='{{ url_for("static", filename="savorscript.js") }}' nonce='{{ nonce }}'>
    </script>
    <!-- /External JavaScript file -->
    
  </body>
</html>
