{% extends 'layout.html' %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action='/login' method='post'>
        {{ form.hidden_tag() }}
        
        <div class='mb-3'>
            <input autocomplete='off' autofocus class='form-control mx-auto w-auto' id='user_email' name='user_email' placeholder='Email address' type='email' required>
        </div>
        <div class='mb-3'>
            <input class='form-control mx-auto w-auto' id='password' name='password' placeholder='Password' type='password' required>
        </div>
        <button class='btn btn-primary' type='submit'>Log In</button>
    </form>

    <div class='container-fluid text-center p-3'>
        New user? <a href='/register'> click here to register</a>
        <br>
        Forgot your password? <a href='/pw_reset_req'> Click here to reset</a>
    </div>
{% endblock %}
