{% extends 'layout.html' %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action='/login' method='post'>
        {{ form.hidden_tag() }}
        
        <!-- user_email -->
        <div class='mb-3'>
            {{ form.user_email(class='form-control mx-auto w-auto', id='user_email', autocomplete='off', autofocus=True, placeholder='Email address') }}
        </div>
        <div class='mb-3'>
        {% if form.user_email.errors %}
                <div class='text-danger'>
                    {% for error in form.user_email.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <!-- /user_email -->

        <!-- password -->
        <div class='mb-3'>
            {{ form.password(class='form-control mx-auto w-auto', id='password', autocomplete='off', placeholder='Password') }}
        </div>
        <div class='mb-3'>
            {% if form.password.errors %}
                <div class='text-danger'>
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>        
        <!-- /password -->

        {{ form.submit(class='btn btn-primary', id='submit') }}
        
    </form>

    <div class='container-fluid text-center p-3'>
        New user? <a href='/register'> click here to register</a>
        <br>
        Forgot your password? <a href='/pw_reset_req'> Click here to reset</a>
    </div>
{% endblock %}
