{% extends 'layout.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
    <form action='/reset2' method='post'>
        <div class='mb-3'>
            <input autocomplete='off' autofocus class='form-control mx-auto w-auto' id='password_new' name='password_new' placeholder='New Password' type='text'>
        </div>
        <div class='mb-3'>
            <input class='form-control mx-auto w-auto' id='password_new_confirmed' name='password_new_confirmed' placeholder='Confirm New Password' type='password'>
        </div>
        <button class='btn btn-primary' type='submit'>Submit</button>
    </form>
{% endblock %}